* {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    
    display: flex;
}
.nav-left span{
    font-size: 30px;
    padding-top: 5px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 70px;
    font-size: 23px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.5s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    /* transition: all 0.5s ease-in-out; */
}


.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.content {
    height: 100%;
    /* background-color: rgb(179, 179, 207); */
    display: flex;
    margin-top: 32px;
    padding: 20px;
    position: relative;
}

.content::after{
    content: "";
    background: url('../img/home.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.20;
    padding: 5px;
    border-radius: 20px;
}

.content-left {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    z-index: 1;
    }
    .content-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-right img {
        height: 200px;
        border: 2px solid black;
        border-radius: 100px;
        flex-direction: column;
    }
    .home-articles{
        padding-top: 12px;
        background-color: rgba(239, 228, 228, 0.5);
        margin-top: 23px;
        padding: 23px;
        border-radius: 20px;
        position: relative;
    } 

    .year-box{
        top: 0px;
        position: absolute;
        width: 75px;
        height: 455px;
        /* background-color: red; */
        right: 568px;
        width: 100px;
        height: 200px;
        right: 0px;
        font-size: 14px;
        
    }

    .year-box div{
        margin:12px 0px ;

    }

    .home-article{
        display: flex;
        margin: 15px;
    }

    .home-article img{
        width: 200px;

    }

    .home-article-content{
        align-self: center;
        padding: 0px 25px;
    }
    .home-artical-content a{
        text-decoration: none;
        color: rgb(42, 42, 209);
    }  
   

    .footer {
        height: 50px;
        background-color: var(--main-bg-color);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        flex-direction: column;
    }
    .footer a{
        color: white;
    }